body {
  background-color: var(--sky-color);
  font-family: Monospace;
}

.container {
  position: relative;
  overflow: hidden;
}

.game-control {
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: repeat(3, 1fr);
  height: 100vh;
  width: 20vw;
  background-color: black;
  justify-items: center;
  align-content: center;
  justify-content: center;
  padding-top: 10vh;
  padding-bottom: 3vh;
  position: absolute;
  right: 0;
  top: 0;
  column-gap: 0;
}

.item {
  background-position: center center;
  background-size: cover;
  width: 6rem;
  height: 6rem;
  align-self: center;
  border: solid #91917a 0.2rem;
  color: white;
  font-size: 0.9rem;
  position: relative;
  cursor: pointer;
}
span {
  position: absolute;
  bottom: 0;
  right: 0;
}

.item:hover {
  color: gold;
  font-weight: 600;
  background-color: gray;
  border-color: gold;
}

.item:active {
  border-color: white;
  transform: translateY(0.1rem);
}

.item:nth-child(1) {
  background-image: url(../assets/images/pickaxe.webp);
  grid-area: 1 / 1 / 1 / 1;
}

.item:nth-child(2) {
  background-image: url(../assets/images/shovel.webp);
  grid-area: 1 / 3 / 1 / 3;
}

.item:nth-child(3) {
  background-image: url(../assets/images/axe.webp);
  grid-area: 2 / 1 / 2 / 1;
}

.item:nth-child(4) {
  background-image: url(../assets/images/water_bucket.webp);
  grid-area: 2 / 3 / 2 / 3;
}

.item:nth-child(5) {
  background-image: url(../assets/images/leaf.webp);
  grid-area: 3 / 1 / 3 / 1;
}

.item:nth-child(6) {
  background-image: url(../assets/images/wood.webp);
  grid-area: 3 / 2 / 3 / 2;
}

.item:nth-child(7) {
  background-image: url(../assets/images/water.webp);
  grid-area: 3 / 3 / 3 / 3;
}

.item:nth-child(8) {
  background-image: url(../assets/images/dirt.webp);
  grid-area: 4 / 1 / 4 / 1;
}
.item:nth-child(9) {
  background-image: url(../assets/images/grass.webp);
  grid-area: 4 / 2 / 4 / 2;
}
.item:nth-child(10) {
  background-image: url(../assets/images/bricks_variation.webp);
  grid-area: 4 / 3 / 4 / 3;
}
.item:nth-child(11) {
  background-image: url(../assets/images/rock.webp);
  grid-area: 5 / 2 / 5 / 2;
}
.item-tile {
  width: 4rem;
  height: 4rem;
}

.cnt span {
  font-size: 1.5rem;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  font-weight: 900;
  transform: translate(-50%, -50%);
  background-color: black;
}

.btn-control {
  width: 10rem;
  height: 4rem;
  align-self: center;
  border: solid rgb(145, 145, 122) 0.2rem;
  background-color: black;
  color: white;
  font-size: 1.6rem;
  font-weight: 700;
  cursor: pointer;
}

.btn-control:nth-child(12) {
  grid-area: 6 / 2 / 6 / 2;
}

.btn-control:nth-child(13) {
  grid-area: 7 / 2 / 7 / 2;
}

.game-control button:hover {
  color: gold;
  background-color: gray;
  border-color: gold;
}

.game-control button:active {
  border-color: white;
  transform: translateY(0.1rem);
}

.game-area {
  display: grid;
  grid-template-rows: repeat(20, 1fr);
  grid-template-columns: repeat(26, 1fr);
  width: 80vw;
  height: 100vh;
}

.tile {
  background-position: center center;
  background-size: cover;


}

.tile:hover {
  border: white solid 0.2rem;
  opacity: 0.8;
}

.welcome-screen {
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  text-align: center;
  background-position: center center;
  background-size: cover;
  background-image: url(../assets/images/main_screen.JPG);
}

.title{
  padding-top: 4vh;
  font-size: 4rem;
  font-weight: 400;
  color: white;
}
.main-buttons {
  margin-top: 7vh;
}

.welcome-screen button,
.instructions button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 9vw;
  height: 8vh;
  border-radius: 1.5rem;
  border: 0;
  font-weight: 700;
  font-size: 1.6rem;
  cursor: pointer;
  margin-bottom: 3rem;
}

.instructions {
  justify-content: center;
  width: 33vw;
  height: 45vh;
  z-index: 44;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  text-align: center;
  display: none;
  background-position: center center;
  background-size: cover;
  color: black;
  background-color: gainsboro;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  transform: translate(-50%, -50%);
  padding: 1rem;

  overflow: auto;
}

.instructions p {
  margin-top: 3rem;
  font-size: 1.6rem;
  font-weight: 300;
}

.instructions button {
  margin-top: 2rem;
}

.description-images{
  display: grid;
  grid-template-rows: repeat(8, 3rem);
  grid-template-columns: repeat(2, 3rem);
  justify-items: center;
  align-content: center;
  justify-content: center;
  row-gap: 0.9rem;
  column-gap: 4rem;
  margin-top: 3.5rem;
  margin-bottom: 4rem;
}

.item-description{
  background-position: center center;
  background-size: cover;
  width: 3rem;
  height: 3rem;
  align-self: center;
  font-size: 1.5rem;
}

.item-description:nth-child(3){
  background-image: url(../assets/images/dirt.webp);
  grid-area: 2 / 1 / 2 / 1;
}

.item-description:nth-child(4){
  background-image: url(../assets/images/shovel.webp);
  grid-area: 2 / 2 / 2 / 2;
}

.item-description:nth-child(5){
  background-image: url(../assets/images/grass.webp);
  grid-area: 3 / 1 / 3 / 1;
}

.item-description:nth-child(6){
  background-image: url(../assets/images/shovel.webp);
  grid-area: 3 / 2 / 3 / 2;
}.item-description:nth-child(7){
  background-image: url(../assets/images/rock.webp);
  grid-area: 4 / 1 / 4 / 1;
}

.item-description:nth-child(8){
  background-image: url(../assets/images/pickaxe.webp);
  grid-area: 4 / 2 / 4 / 2;
}

.item-description:nth-child(9){
  background-image: url(../assets/images/bricks_variation.webp);
  grid-area: 5 / 1 / 5 / 1;
}

.item-description:nth-child(10){
  background-image: url(../assets/images/pickaxe.webp);
  grid-area: 5 / 2 / 5 / 2;
}
.item-description:nth-child(11){
  background-image: url(../assets/images/wood.webp);
  grid-area: 6 / 1 / 6 / 1;
}

.item-description:nth-child(12){
  background-image: url(../assets/images/axe.webp);
  grid-area: 6 / 2 / 6 / 2;
}

.item-description:nth-child(13){
  background-image: url(../assets/images/leaf.webp);
  grid-area: 7 / 1 / 7 / 1;
}

.item-description:nth-child(14){
  background-image: url(../assets/images/axe.webp);
  grid-area: 7 / 2 / 7 / 2;
}.item-description:nth-child(15){
  background-image: url(../assets/images/water.webp);
  grid-area: 8 / 1 / 8 / 1;
}

.item-description:nth-child(16){
  background-image: url(../assets/images/water_bucket.webp);
  grid-area: 8  / 2 / 8 / 2;
}
